.button-container {
    width: 200px;
    margin-left: 150px;
    margin-bottom: 5px;
    position: fixed;
    margin-top: 20px;
}

.btn-set-profile {
    position: relative;
    bottom: 10px;
    right: 10px;
    float: left;
}
.custom-button {
    float: left;
}
.user-list-container {
    width: 200px;
    position: fixed;
    top: 90px;
    right: 80px;
    overflow: auto;
    max-height: 80%;
}

.following-list-container {
    width: 200px;
    position: fixed;
    margin-top: 20px;
    right: 80px;
    top:250px;
}
.user-list-container {
    width: 200px;
    position: fixed;
    top: 90px;
    right: 80px;
    overflow: auto;
    max-height: 80%;
}

.user-list-title {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 5px;
}

.user-list {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-bottom: 5px;
}
.author-link {
    text-decoration: none;
    color: white;
}

.image-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.comment-text {
        max-width: 100%;
        overflow-wrap: break-word;
}

.text-right p {
        text-align: right;
}
.container-info p {
        margin: 0;
}
.icon-hover:hover {
    fill: blue;
}