
<style>
    .icon-hover:hover {
        fill: blue; 
    }
</style>

{% extends "layout.html"%}

{% block content %}
<body>
    <div class="container w-50 bg-light-subtle  border shadow-lg border-secondary rounded">
        <form form method="POST" enctype="multipart/form-data">
            {% for msg in get_flashed_messages() %}
              <div class="flash mb-3">{{msg}}</div>
              {% endfor %}
        	<h3>Create article</h3>
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                    name="text" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Text</label>
            </div>
            <div>
                <label for="fileInput" class=" icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                   <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"class="bi bi-image mb-3 icon-hover" viewBox="0 0 16 16">
                          <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                          <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                   </svg> add photo 
                  <input type="file" id="fileInput" name="content" style="display:none;">
                </label>
            </div>
            <button class="mb-3 btn btn-outline-light">Create</button>
        </form>
    </div>
</body>

{% endblock %}


