{% extends "layout.html"%}
{% block content %}

<body>
    <div class="container w-50 bg-light-subtle text-center border shadow-lg border-secondary rounded">
        <h4>Are you sure, you want to delete your message?</h4>
        <form action="/profile/delete/{{message_id}}" method="post">
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
        <p></p>
        <p><a href="/profile/chat/{{author_name}}" class="btn btn-primary">Cancel</a></p>
    </div>
</body>

{% endblock %}