{% extends "layout.html"%}
{% block content %}
<body>
  <div class="container w-50 bg-light-subtle border shadow-lg border-secondary rounded">
    <form id="signForm" method="POST" action="/sign" enctype="multipart/form-data">
      {% for msg in get_flashed_messages() %}
      <div class="flash mb-3">{{msg}}</div>
      {% endfor %}
      <div class="form-contact mb-3 mt-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
  		<input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
	  </div>
      <div class="form-contact mb-3">
        <label for="floatingInput">Password</label>
        <input type="text" class="form-control" name="password"> 
      </div>
      <div class="form-contact mb-3">
        <label for="floatingInput">Name</label>
        <input type="text" class="form-control" name="name"> 
      </div>
      <div class="container mb-3">
              <label for="fileInput" class="icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                   <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
					  <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z"/>
					  <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
					</svg> add logo
                  <input type="file" id="fileInput" name="logo" style="display:none;">
              </label>
          </div>
          <button type="submit" class="mb-3 btn btn-outline-light">Create</button>
</body>
{% endblock %}



